/*Downloaded from https://www.codeseek.co/flamekuchen/floating-discord-button-Wdmayr */
.floating-btn {
  color: white;
  background: #7289da;
  border-color: #7289da;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 2.6rem;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 5.2rem 5.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease;
}
.floating-btn .expanded {
  opacity: 0;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  transition: opacity 0.25s ease;
}
.floating-btn:hover {
  width: 26rem;
}
.floating-btn:hover .icon {
  opacity: 0;
}
.floating-btn:hover .expanded {
  opacity: 1;
}
  
.floating-btn .fa-discord {
  padding-top: .4rem;
}
  